[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "TDOM-EncryptOrDecryptFile-Reborn"]
	path = TDOM-EncryptOrDecryptFile-Reborn
	url = https://github.com/Twilight-Dream-Of-Magic/TDOM-EncryptOrDecryptFile-Reborn.git
